<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <style>
    /*h1.small {line-height: 20%}*/
    *.small {line-height: 10%}
  </style>
</head>
<body>
  Welcome to my blog :D.
    <input type="button" onclick="location.href='http://the-daily-blag.herokuapp.com/post';" value="Go to post page" />
  <ul class="quotes">
  <% for(var i=quotes.length -1; i > -1; i--) {%>
    <li class="quote">
    <script>
        //link = "/posts/" + <%= quotes[i]._id %> onclick="location.href = this.href + <%= quotes[i]._id %>; return false;"
    </script>
      <h1 class = "small"><a href= "/posts/<%= quotes[i]._id %>" > <%= quotes[i].bookName %> </a></h1>
        <h3 class = "small">by </h3>
      <h2 class = "small"><%= quotes[i].author %></h2>
      <p><%= quotes[i].date %></p>
    </li>
  <% } %>
  </ul>

</body>
</html>
